body{
    background:#f4f6f9;
    font-family:Arial, Helvetica, sans-serif;
}

.navbar-brand{
    font-size:24px;
    font-weight:bold;
}

.card{
    border:none;
    border-radius:15px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h2{
    font-weight:bold;
}

.section-title{
    margin-top:40px;
    margin-bottom:20px;
    font-weight:bold;
}

.search-box{
    max-width:500px;
}

.table{
    background:white;
}

#searchResult{
    font-size:18px;
}